@model ZooApp.Models.AnimalFood

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnimalFood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
