@model IEnumerable<ZooApp.ViewModels.ViewFoodAnimalTotal>

@{
    ViewBag.Title = "IndexDetail";
}

<h2>IndexDetail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
